.items-doctors {
  position: relative;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    right: 0;
    position: absolute;
    content: "▼";
    font-size: 25px;
  }
}

.select-list-doctors {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  margin-top: 10px;
  background: rgba(54, 163, 154, 0.842);
  display: none;
  font-size: 25px;

  .select-list-doctors__link {
    display: block;
    text-decoration: none;
    color: black;
    padding: 7px 0;

    &:hover {
      color: #fff;
    }
  }
}

.doctors-box {
  text-align: center;
  background-color: rgb(198, 255, 176);
  position: absolute;
  min-width: 350px;
  top: 30%;
  left: 40%;
}

.check-inputs-value {
  padding-bottom: 10px;
  padding-left: 20px;
  display: none;

  &__text {
    font-size: large;
    color: red;
  }
}
