@media screen and (min-width: 993px) {
  @import "mixins";
  @import "variables";

  .main-box {
    background-image: url(../images/doctor-with-medical-mask-background-vector.jpeg);
    @include img-position;
    height: calc(100vh - 126.66px);
    display: flex;
    flex-direction: row;
    justify-content: center;

    .filter {
      width: 200px;
      // height: calc(100vh - 126.66px);
      .filter-box {
        display: block;
      }
      .btn {
        display: none;
      }

      .name-pacient__input-search {
        width: 100%;
      }
    }
  }
  .section-width {
    display: flex;
  }
}
